{% extends 'home/base.html' %}
{% block content %}
{% block styles %}
<style>
  
    nav{
        padding-bottom: 3%;
        background: black;
        height:8vh;
    }
</style>
{% endblock %}
<div class="contact">
        <h1>Talk to Us</h1>
        <h6>Got any questions or enquiries? Do not hesistate send us an email and we will get back to you within 24 hrs</h6>
        <form action="submit">
            <input type="text" placeholder="Name:">
            <input type="email" placeholder="Your email">
            <textarea name="Message" id="" cols="90" rows="16" value="type in your enquiry..."></textarea><br>
            <input type="submit" value="Send Email" id="">
        </form>
    </div>
{% endblock %}