{% extends 'home/base.html' %}
{% load static %}
{% block content %}
{{block.super}}
<header>
        
</header>
<div class="about_us">
        <div class="intro">
                <h1>Welcome to Paul's Bakery</h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vero mollitia facilis cupiditate in minus, numquam libero repudiandae, itaque assumenda necessitatibus voluptatem inventore quod esse? Reiciendis iure ab mollitia fugiat!</p>
                  <form action="submit">
                     <strong> Subscribe for Monthly Recipees</strong>
                     <br>
                          <br>
                      <input type="text" placeholder="Get Monthly Recipes">
                      <br>
                      <input type="submit" value="subscribe">
                  </form>
               
        </div>
</div>
<div class="menu">
    <h1>What's Cooking?</h1>
    <div class="Flavour">
        <h3>Lemon Cupcakes</h3>
        <img src="https://images.pexels.com/photos/1055271/pexels-photo-1055271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi error dolorem assumenda alias doloremque architecto facilis. Soluta, quos, natus dicta odit qui quisquam temporibus, corporis quia officiis neque explicabo minima?
    </div>
    <div class="Flavour">
            <h3>Choclate Chips Flavoured Cupcakes</h3>
            <img src="https://images.pexels.com/photos/1055272/pexels-photo-1055272.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi error dolorem assumenda alias doloremque architecto facilis. Soluta, quos, natus dicta odit qui quisquam temporibus, corporis quia officiis neque explicabo minima?
    </div>
    <div class="Flavour">
            <h3>Vanila Cupcakes</h3>
            <img src="https://images.pexels.com/photos/1055270/pexels-photo-1055270.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi error dolorem assumenda alias doloremque architecto facilis. Soluta, quos, natus dicta odit qui quisquam temporibus, corporis quia officiis neque explicabo minima?
    </div>
    <div class="Flavour">
            <h3>Strawberry Cupcakes</h3>
            <img src="https://images.pexels.com/photos/1055272/pexels-photo-1055272.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi error dolorem assumenda alias doloremque architecto facilis. Soluta, quos, natus dicta odit qui quisquam temporibus, corporis quia officiis neque explicabo minima?
    </div>

</div>


{% endblock %}