<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Paul's Bakery | Taste of Home</title>
</head>
<body>
    
        <nav >
            <ul class="laptop">
                <li class="brand"> <a href="{% url 'home_page'%}">Paul's Bakery</a></li>
                <li class="name"> <a href="{% url 'contact'%}"> Contact Us</a></li>
                <li class="name"> <a href="">Menu & Recipes</a> </li>
                <li class="name"> <a href="">Place an Order</a> </li>
                <li class="name"> <a href="{% url 'home_page'%}">Home</a> </li>

            </ul>
        </nav>
        <!-- <nav >
            <ul class="phone">
                <li class="brand"> <a href="{% url 'home_page'%}">Paul's Bakery</a></li>
                <li class="name"> <a href="{% url 'contact'%}"> Contact Us</a></li>
                <li class="name"> <a href="">Menu & Recipes</a> </li>
                <li class="name"> <a href="">Place an Order</a> </li>
                <li class="name"> <a href="{% url 'home_page'%}">Home</a> </li>
        </ul>
          
        </nav> -->
       
        <i></i>
       
    
</body>
</html>